.ui-list-view .ui-list-view-cell {
  padding: 10px 15px;
  background: #fff;
  border-left: 4px solid transparent;
  margin-bottom: 4px;
  box-shadow: 0px 2px 3px 0 rgba(201, 201, 201, 0.85);
}

.ui-list-view .ui-list-view-cell:hover {
  border-left-color: #aaa;
}

.ui-list-view .ui-list-view-cell.active {
  border-left-color: #E41F00;
}

.ui-list-view-cell-content img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  margin-top: 3px;
  vertical-align: middle;
}

.ui-list-view-cell-content span {
  display: block;
  float: left;
  padding: 9px;
}

.ui-list-view-cell-content button {
  float: right;
}

.ui-list-view-cell-content::after {
  display: block;
  content: "";
  clear: both;
}
